$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "keyframes";
@import "transitions";
html,body{
  min-height: 120vh;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.fixed-position{
  position: fixed;
}
.full-height{
  height: 110vh;
}
h1.full-height{
  line-height: 100vh;
  margin:0;
}

.page-container{
  background: #e0e0e0;
}
.page-container--loader-container{
  $height: 10vh;
  position: fixed;
  line-height: $height;
  left: 0;
  right:0;
  height: $height;
  z-index: 0;
  // background: #222;
  color: lighten(#222, 20%);
  font-size: 30px;
  text-align: center;
  transition: all .2s ease-in-out 1s;
  overflow: hidden;
  // opacity: 0;
  // &.active{
  //   opacity: 1;
  //   position: relative;
  // }
  &.append{
    bottom: 0;
  }
  &.prepend{
    top: 0;
  }
  .page-container--loader{
    transition: all .2s ease-in-out 1s;
    position: absolute;
    width: 100%;
    background: purple;
    // height: 0;
    bottom: 0;
    top: 0;
    line-height: $height;
    // overflow: hidden;
  }
}

.page-block{
  background: white;
  box-shadow: 0 0 20px rgba(black, .1);
  min-height: 100vh;
  // overflow: auto;
  z-index: 2;
}
