$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

@import "keyframes";
@import "transitions";
html,body{
  min-height: 100vh;
}
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
.no-opacity{
  opacity: .25;
}
.fixed-position{
  position: fixed;
}
.full-height{
  height: 110vh;
}
h1.full-height{
  line-height: 100vh;
  margin:0;
}
$speedBumpHeight: 10vh;
.page-container{
  background: #e0e0e0;
}
.speedBump-container{

  position: relative;
  display: block;
  left: 0;
  right:0;
  height: $speedBumpHeight;
  z-index: 10;
  color: lighten(#222, 20%);
  font-size: 30px;
  text-align: center;
  transition: all 1s ease-in-out;
  overflow: hidden;

  &.speedBump-append{
    bottom: 0;
    .speedBump{
      bottom: 0;
    }
  }
  &.speedBump-prepend{
    top: 0;
    .speedBump{
      top: 0;
    }
  }
  .speedBump{
    transition: all .2s ease-in-out .2s;
    position: absolute;
    width: 100%;
    background: #444;
    line-height: $speedBumpHeight;
    height: 100%;
    overflow: hidden;
    &.active{
      background: darken(green, 10%);
      color: green;
    }
    &.bg-danger{
      background: lighten(red, 40%);
    }
  }
}

.page-block{
  background: white;
  box-shadow: 0 0 20px rgba(black, .1);
  min-height: 100vh + $speedBumpHeight;
  // overflow: auto;
  z-index: 2;
}
